<script>
    let allChores = document.getElementsByClassName("list-check");
    for (var i=0;i<allChores.length;i++) {
        allChores[i].addEventListener("change", (e) => {
            document.querySelector("li." + e.target.value).classList.toggle("trns-background")
            document.querySelector(`[for="${e.target.value}"]`).classList.toggle("overline");
          
        })
    };
        
</script>
<script src="https://kit.fontawesome.com/2ebc848ad8.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>